HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
/package.json

### Docker ###
.auth.env
.db.env
.proxy.env
/authelia/*
!/authelia
!/authelia/sample.configuration.yml
/proxy/*
!/proxy
/proxy/nginx/*
!/proxy/nginx
/proxy/nginx/proxy-confs/*
!/proxy/nginx/proxy-confs
!/proxy/nginx/proxy-confs/*.conf

### Python ###
*.egg-info
*.pyc
.coverage
coverage.xml
.python-version
htmlcov/
venv/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
